// From https://github.com/hakimel/reveal.js
// MIT LICENSE

// Base settings for all themes that can optionally be
// overridden by the super-theme

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Staatliches&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0");
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


$materialBase: #121212;
$materialOverlay: #fff;

$uriNavy: #002147;
$umassRed: #881C1C;


// Background of the presentation
// $backgroundColor: lighten( $materialBase, 8%);
$backgroundColor: #eee;

// Primary/body text
$mainFont: 'Open Sans', sans-serif;
$mainFontSize: 40px;
$mainColor: #121212;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Oswald', Impact, sans-serif;
$headingColor: $umassRed;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 2.5em;
$heading2Size: 1.5em;
$heading3Size: 1em;
$heading4Size: 0.75em;

$codeFont: monospace;

// Links and actions
$linkColor: lighten( $uriNavy, 25% );
$linkColorHover: $uriNavy;

// Text selection
$selectionBackgroundColor: lighten( $umassRed, 25% );
$selectionColor: #eee;

// Admonition block
$admonitionBg: darken( $backgroundColor, 5% );
$admonitionOutline: $admonitionBg;
$cautionColor: lighten( #a0439c, 20% );
$importantColor: lighten( #d32f2f, 20% );
$noteColor: lighten( #217ee7, 20% );
$tipColor: lighten( #41af46, 20% );
$warningColor: lighten( #e18114, 20% );


// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}
