@import './mixins';
@import './settings.scss';
@import './base.scss';
@import './presentation.scss';

.authors {
  color: $uriNavy;
  font-size: $heading3Size;
}

.authors > p > sup {
  font-size: 10px;
}

.institution {
  font-size: 0.8em;
}

.collaborator {
  font-size: 0.8em;
  color: $uriNavy;
  font-family: $headingFont;
}

.title {
  color: $uriNavy;
  font-family: $headingFont;
}

.collab-info {
  font-size: 0.3em;
}

.emph {
  color: lighten( $uriNavy, 10% );
  font-weight: bold;
}

h1,h2,h3,h4 {
  .emph {
    font-weight: normal;
  }
}

.admonitionblock {
  background-color: $admonitionBg;
  border-color: transparent;
  font-size: 30px;
  border-radius: 10px;
  margin: 0.5em 0;
}

.admonitionblock > table {
  border-color: transparent;
}

.reveal pre {
  box-shadow: none;
}

.warning i {
  color: $warningColor;
  font-size: $mainFontSize;
}

.caution i {
  color: $cautionColor;
  font-size: $mainFontSize;
}

.important i {
  color: $importantColor;
  font-size: $mainFontSize;
}

.tip i {
  color: $tipColor;
  font-size: $mainFontSize;
}

.slide-content a {
  text-decoration: underline;
  font-weight: bold;
}

.reveal p code {
  background-color: darken($color: #eee, $amount: 15%);
  padding: 2px 5px;
  border-radius: 5px;
}

li::marker {
  color: $uriNavy;
}

.smaller-title > h1 {
  font-size: var(--r-heading2-size);
}

.subtitle {
  color: $uriNavy;
}

.partial-columns > .content {
  display: flex;
  gap: 40px;
}

.institution > p > sup {
  font-size: 10px;
}

.rounded-image > img {
  border-radius: 10px;
}

.circle-image > img {
  clip-path: circle();
}

.columns .slide-content > .column > img {
  padding: 0;
}

.demo-page {
  width: 100%;
  height: 100%;
  display: flex !important;
  flex-direction: column;
}

.demo {
  min-height: 0;
  width: 100%;
  // padding-bottom: 30px;
  flex-grow: 1;
}

.demo-page > .slide-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 0;
  flex-grow: 1;
}

.caption {
  font-size: 15px;
}


.bold {
  font-weight: bold;
}

.hidden {
  display: none;
}

.text-small {
  font-size: 20px;
}

.text-less-small {
  font-size: 30px;
}

.text-large {
  font-size: $heading2Size;
}

.text-left {
  text-align: left;
}

.statement {
  font-family: $headingFont;
  font-size: $heading2Size;
}

.statement > p > .emph {
  font-weight: normal;
}

.pad-bottom {
  padding-bottom: 30px;
}

.remove-margin > p > span > img {
  margin: 0;
}

.no-icon .icon {
  display: none;
}

.admonitionblock td.content {
  line-height: 1.25;
  vertical-align: top;
}

.admonitionblock tr {
  vertical-align: top;
}

.reveal .code-wrapper code {
  border-radius: 10px;
}
